.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: "Nunito";
  src: url("./fonts/Nunito/Nunito-VariableFont_wght.ttf");
}

* {
  font-family: "Nunito";
  margin: 0;
  scroll-behavior: smooth;
}

.product_grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 90px;
}

.product_grid div {
  padding: 10px;
}

.product_grid div img {
  width: 100%;
}

.navBar {
  display: flex;
  justify-content: space-between;
  margin: 4%;
  padding-bottom: 10vh;
}

.navBar a {
  text-decoration: none;
  padding: 15px 30px;
  border-radius: 25px;
  border: 2px solid #4c6085;
  background-color: #4c6085;
  color: white;
  font-weight: 700;
  font-size: 17px;

  transition: all 0.4s ease;
}

.navBar a:hover {
  background-color: white;
  color: #4c6085;
  border: 3px solid white;
  transform: scale(1.2);
}

.image_details {
  width: 30%;
}

.image_list {
  height: 45vh;
}

.section_header {
  background-color: #13c4a3;
}

.section_header h1 {
  color: #32322c;
  font-size: 70px;
  padding-top: 90px;
  border-bottom: 6px double #4c6085;
  margin: 0px 5vw;
}

.SM {
  font-size: 120px;
}

.link_list {
  text-decoration: none;
  border: 2px solid #39a0ed;
  background-color: #39a0ed;
  padding: 10px 20px;
  color: white;
  border-radius: 25px;
  font-weight: 900;
}

.link_list:hover {
  transition: all 0.4s ease;
  background-color: #4c6085;
  border: 2px solid #4c6085;
}

.price {
  margin-bottom: 30px;
}
